<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomNumberGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <!--
        Scale with the monitor the window is on, rather than being drawn once for the primary monitor's
        scaling and stretched everywhere else. This is the mechanism .NET Framework 4.7 and later provide;
        remove the DpiAwareness entry to go back to the old behaviour if a display turns out to disagree
        with it.
    -->
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
        <add key="DpiAwareEnableHighDpiListView" value="true" />
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <RandomNumberGenerator.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowMaximised" serializeAs="String">
                <value>False</value>
            </setting>
        </RandomNumberGenerator.Properties.Settings>
    </userSettings>
</configuration>
